<main>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="">
        </div>
        <button type="submit">Login</button>
    </form>
</main>