<main>
    <form action="/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="">
        </div>
        <div>
            <label for="passowrd">Password</label>
            <input type="password" name="password" id="">
        </div>
        <button type="submit">Login</button>
    </form>
</main>